# AgentServer HTTP/SSE 入口
AGENT_SERVER_HOST=0.0.0.0
AGENT_HTTP_ENABLED=true
AGENT_HTTP_HOST=0.0.0.0
AGENT_HTTP_PORT=8766

# 基础配置
TZ=<<TIMEZONE>>
HOME=<<AGENT_SERVER_HOME>>
LOG_ROOT_PATH=<<AGENT_SERVER_HOME>>
JIUWENSWARM_EDITION=enterprise

# 数据库信息
GATEWAY_DB_TYPE=<<DB_TYPE>>
GATEWAY_DB_HOST=<<DB_HOST>>
GATEWAY_DB_PORT=<<DB_PORT>>
GATEWAY_DB_USER=<<GATEWAY_DB_USER>>
GATEWAY_DB_NAME=<<GATEWAY_DB_NAME>>
GATEWAY_PG_SCHEMA=<<GATEWAY_PG_SCHEMA>>


# 日志
LLM_SSL_VERIFY=False
LOG_MASK_ENABLED=false
LOG_TO_FILE_ENABLED=true

# 沙箱配置
JIUWENCLAW_SANDBOX_ENABLED=true
JIUWENCLAW_SANDBOX_URL=http://127.0.0.1:<<JIUWENBOX_PORT>>
JIUWENCLAW_SANDBOX_TYPE=jiuwenbox
JIUWENCLAW_SANDBOX_STARTUP_MODE=external
JIUWENCLAW_SANDBOX_PRESERVE_FILE_SHARING_MODE=mount
JIUWENBOX_FALLBACK_ON_FAILURE=False
