NFS_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/ghcr.io/obeone/nfs-server-arm64:2.2.2"
NFS_SC_IMAGE="swr.cn-north-4.myhuaweicloud.com/ddn-k8s/registry.k8s.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2-linuxarm64"
MYSQL_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/claw-mysql-arm64:8.0"
POSTGRES_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/postgres-arm64:16"
RABBITMQ_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/rabbitmq-arm64:3.9.22-management"
REDIS_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/redis-arm64:7-alpine"
MINIO_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/minio/minio-arm64:RELEASE.2024-12-18T13-15-44Z"
FLUENT_BIT_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/fluent/fluent-bit-arm64:3.0.0"
VECTOR_IMAGE="swr.cn-north-4.myhuaweicloud.com/openjiuwen/timberio/vector-arm64:0.40.0-alpine"

GATEWAY_IMAGE="<<GATEWAY_IMAGE>>"
AGENT_SERVER_IMAGE="<<AGENT_SERVER_IMAGE>>"
WEB_IMAGE="<<WEB_IMAGE>>"
MANAGER_SERVER_IMAGE="<<MANAGER_SERVER_IMAGE>>"
MANAGER_WEB_IMAGE="<<MANAGER_WEB_IMAGE>>"
JIUWENBOX_IMAGE="<<JIUWENBOX_IMAGE>>"

AGENT_RUNTIME="jiuwen"
GATEWAY_SESSION_MAP_SCOPE="per_chat_bot_user"
JIUWENBOX_ENABLED=true


# 设置空闲端口，请确保该端口的唯一性（范围: 30000-32767）
MYSQL_NODE_PORT="<<MYSQL_NODE_PORT>>"
POSTGRES_NODE_PORT="<<POSTGRES_NODE_PORT>>"
RABBITMQ_AMQ_NODE_PORT="<<RABBITMQ_AMQ_NODE_PORT>>"
RABBITMQ_MGR_NODE_PORT="<<RABBITMQ_MGR_NODE_PORT>>"
REDIS_NODE_PORT="<<REDIS_NODE_PORT>>"
GATEWAY_NODE_PORT="<<GATEWAY_NODE_PORT>>"
MANAGER_SERVER_NODE_PORT="<<MANAGER_SERVER_NODE_PORT>>"
MANAGER_WEB_NODE_PORT="<<MANAGER_WEB_NODE_PORT>>"
WEB_NODE_PORT="<<WEB_NODE_PORT>>"

# 模型定义
MODEL_PROVIDER="<<MODEL_PROVIDER>>"
MODEL_NAME="<<MODEL_NAME>>"
API_BASE="<<API_BASE>>"
API_KEY="<<API_KEY>>"


# 飞书机器人
FEISHU_BOTS="
"

# 外挂DB，自定义schema
DB_TYPE="postgresql"
DB_HOST="<<DB_HOST>>"
DB_PORT="<<DB_PORT>>"
DB_USER="<<DB_USER>>"
DB_PASSWORD="<<DB_PASSWORD>>"

# 如果外挂DB是Postgres，可以设置
GATEWAY_PG_SCHEMA="<<GATEWAY_PG_SCHEMA>>"
MANAGER_PG_SCHEMA="<<MANAGER_PG_SCHEMA>>"

# 外挂NFS
CLAW_MOUNT_TYPE="nfs"
NFS_SERVER_ADDR="<<NFS_SERVER_ADDR>>"
NFS_SHARE_PATH="<<NFS_SHARE_PATH>>"


# Gatway使用主备模式
DEPLOYMENT_MODE=active-standby

# 外挂Redis
REDIS_HOST="<<REDIS_HOST>>"
REDIS_PORT="<<REDIS_PORT>>"
REDIS_PASSWORD="<<REDIS_PASSWORD>>"


# 外挂OBS
OBS_BUCKET="<<OBS_BUCKET>>"
OBS_URL="<<OBS_URL>>"
OBS_ACCESS_KEY="<<OBS_ACCESS_KEY>>"
OBS_SECRET_KEY="<<OBS_SECRET_KEY>>"
OBS_SECURE="<<OBS_SECURE>>"
OBS_REGION="<<OBS_REGION>>"