# ====================== claw-manager服务配置 ======================
# claw-manager镜像地址
CLAW_MGR_IMAGE=""

# 单实例CPU限制（单位：毫核，300=0.3核）
CLAW_MGR_CPU=300

# 单实例内存限制（单位：Mi）
CLAW_MGR_MEMORY=600

# 服务最小实例数
CLAW_MGR_MIN_INSTANCE=1

# 服务最大实例数
CLAW_MGR_MAX_INSTANCE=10

# 服务并发处理数量/最大并发数
CLAW_MGR_CONCURRENT_NUM=10

# pool 池大小。当参数 POOL_MAX_SIZE 值大于 POOL_SIZE 时，POOL_SIZE 为最小副本数。
POOL_SIZE=1

# pool 池最大副本数。当 POOL_MAX_SIZE 值大于参数 POOL_SIZE 时，pool 池开启自动扩缩。
POOL_MAX_SIZE=100

# ====================== claw-gateway服务配置 ======================
# 运行环境模式：支持 dev / product 两种值
# dev 模式：将宿主机代码目录挂载到容器内，支持代码实时修改调试
# product 模式：使用容器内置代码，不挂载宿主机目录，用于生产环境
MODE=product

# 仅在 MODE=dev 时生效：宿主机本地代码路径（请填写绝对路径）
HOST_CODE_PATH=""

# 产品模式（MODE=product）下的claw-gateway镜像地址
CLAW_GATEWAY_PRODUCT_IMAGE=""

# 开发模式（MODE=dev）下的claw-gateway镜像地址
CLAW_GATEWAY_DEV_IMAGE=""

# jiuwen_runtime编排管理（AGENT_RUNTIME=jiuwen）下的claw-gateway镜像地址
CLAW_GATEWAY_RT_IMAGE=""

# Gatway实例内存限制（单位：Gi）
CLAW_GATEWAY_MEMORY=1

# 网关同时向后端发送的最大并发请求数
CLAW_GATEWAY_CONCURRENCY=1

# 网关调用后端接口的超时时间
CLAW_GATEWAY_INVOKE_TIMEOUT=60

# SessionMap 会话映射策略
# 仅适用于企业版 Claw 场景（如 feishu_enterprise 等企业通道）
# 作用：将平台用户身份映射为 Agent 内部会话唯一标识（session_id）
# 可选值：
#   per_chat_bot        - 默认值，同一聊天窗口+机器人共享会话
#   per_chat_bot_user   - 按用户维度隔离会话（每个用户独立会话）
CLAW_GATEWAY_SESSION_MAP_SCOPE="per_chat_bot_user"


# AgentServer 客户端通信模式配置， 支持如下三种可选客户端类型：
#   websocket   - WebSocket 基础客户端
#   yuanrong    - 元戎前端对接客户端，由 AgentServerClientExtension 组件提供，为默认配置
#   jiuwen      - jiuwen_runtime编排管理客户端，由 AgentServerClientExtension 组件提供
AGENT_RUNTIME="jiuwen"

# ====================== Runtime Deployer(AGENT_RUNTIME=jiuwen) 配置 ======================

# AgentServer镜像地址
AGENT_SERVER_IMAGE=""

# PIP 安装扩展依赖时的额外参数
# 示例配置阿里云PyPI镜像源，优化内网/国内环境包下载速度，可根据实际环境自定义调整
PIP_EXTRA_ARGS="-i https://mirrors.aliyun.com/pypi/simple"

# ====================== 大模型接口配置 ======================
# 模型厂商标识（如：OpenAI等）
MODEL_PROVIDER=""

# 大模型名称
MODEL_NAME=""

# 大模型API基础地址
API_BASE=""

# 大模型鉴权密钥
API_KEY=""

# ====================== 向量模型接口配置 ======================
# 向量模型名称
EMBED_MODEL=""

# 向量模型API基础地址
EMBED_API_BASE=""

# 向量模型鉴权密钥
EMBED_API_KEY=""


# ==============================================================
# 飞书机器人配置（FEISHU_BOTS）
# 配置格式：一行一个机器人，规则为 Bot Name:App ID:App Secret
# 示例：
# FEISHU_BOTS="
# bot_name_1:app_id_1:app_secret_1
# bot_name_2:app_id_2:app_secret_2
# bot_name_3:app_id_3:app_secret_2
#"

FEISHU_BOTS="
"

# ====================== NFS服务配置 ======================
# NFS 服务器地址
NFS_SERVER_ADDR=""

# NFS 共享路径
NFS_SHARE_PATH="/"


# ====================== 其他IMAGE（如下image国内环境可能拉不下来，需要换地址） ======================
# NFS_IMAGE的默认值itsthenetwork/nfs-server-alpine:12， 如果拉不下来，可以试试如下值
NFS_IMAGE=docker.1ms.run/itsthenetwork/nfs-server-alpine:12