# All values MUST NOT have quotes, no trailing spaces at line end

# Runtime Orchestrator Configuration
AGENT_SERVER_IMAGE=<<AGENT_SERVER_IMAGE>>
AGENT_SERVER_PORT=18092
AGENT_SERVER_NAMESPACE=<<NAMESPACE>>
AGENT_SERVER_CONTAINER_NAME=<<AGENT_SERVER_POD_NAME>>
AGENT_SERVER_PORT_NAME=http1
AGENT_SERVER_IMAGE_PULL_POLICY=IfNotPresent
AGENT_RUNTIME=<<AGENT_RUNTIME>>

# ServiceManager Configuration
AGENT_SERVER_MIN_IDLE_SERVICES=1
AGENT_SERVER_MAX_SERVICES=10
AGENT_SERVER_SERVICE_CONCURRENCY=10
AGENT_SERVER_SERVICE_TTL=30
AGENT_SERVER_AUTOSCALE_INTERVAL=0.2

# AccessConfig Configuration
AGENT_SERVER_MESSAGE_TIMEOUT=300

# SessionConfig Configuration
AGENT_SERVER_SESSION_CONCURRENCY=10
AGENT_SERVER_SESSION_TTL=20

# K8s NFS Configuration
AGENT_SERVER_NFS_SERVER=<<NFS_SERVER_ADDR>>
AGENT_SERVER_NFS_PATH=<<NFS_SHARE_PATH>>
AGENT_SERVER_NFS_MOUNT_PATH=/home/app/.jiuwenclaw

# K8s hostPath Configuration (for mounting host code directory)
AGENT_SERVER_HOST_PATH=<<HOST_CODE_PATH>>
AGENT_SERVER_HOST_MOUNT_PATH=/app/jiuwenclaw
MODE=<<MODE>>
NODE_NAME=<<MASTER_NODE_NAME>>

# K8s Pod Readiness Probe Configuration
AGENT_SERVER_KUBECONFIG=
AGENT_SERVER_READINESS_INITIAL_DELAY=5
AGENT_SERVER_READINESS_PERIOD=10
AGENT_SERVER_READY_TIMEOUT=300
AGENT_SERVER_READY_POLL_INTERVAL=2

# Model Configuration
MODEL_PROVIDER=<<MODEL_PROVIDER>>
MODEL_NAME=<<MODEL_NAME>>
API_BASE=<<API_BASE>>
API_KEY=<<API_KEY>>

# Gateway Configuration
HEARTBEAT_ENABLED=FALSE
SYNC_CONFIG_ON_STARTUP=FALSE
PIP_EXTRA_ARGS=<<PIP_EXTRA_ARGS>>

# Websocket Configuration
WEB_HOST=0.0.0.0

# K8s Resource Configuration
CPU_REQUEST=500m
MEMORY_REQUEST=1Gi
CPU_LIMIT=500m
MEMORY_LIMIT=1Gi

GATEWAY_MANAGER_WS_URL=ws://<<MANAGER_NAME>>:<<MANAGER_WS_PORT>>
